<div class="container">
    <h2 class="text-white font-Permanent-Marker">Vue détaillée du Professionnel</h2>
    <div class="card text-center">
        <p>id : {{userDetail?.id}} </p>
        <p>Nom : {{userDetail?.lastName}} </p>
        <p>Prénom : {{userDetail?.firstName}} </p>
        <p>email : {{userDetail?.email}} </p>
        <p>phone : {{userDetail?.phone}} </p>
        <p>siret : {{userDetail?.siret}} </p>
        <div>
            <p>garages :</p>     
            <ul *ngFor="let garage of userDetail?.garages">
                <li class="link" routerLink="'/garages/'+garage"
                    (click)="goToGarage(garage)">{{garage}}</li>        
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-warning col-md-6" [routerLink]="['/users/edit',indexUser]">Modifier</button>
            <button class="btn btn-danger col-md-6" (click)="deleteUser(indexUser)">Supprimer</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary col-md-6" routerLink="/users">Retour vers les professionnels</button>
            <button class="btn btn-primary col-md-6" routerLink="/dashboard">Retour au dashboard</button>
        </div>
    </div>
</div>