<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" routerLink="/dashboard">Auto-ccas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">           
            <li class="nav-item dropdown">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn"
                        id="dropdownBasic1" ngbDropdownToggle>
                        Professionnels
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <a ngbDropdownItem routerLink="/users">Voir tous les professionnels</a>
                        <a ngbDropdownItem routerLink="/users/add">Ajouter un professionnel</a>                        
                    </div>
                  </div>
                </div>                
            </li>
            <li class="nav-item dropdown">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn" 
                        id="dropdownBasic1" ngbDropdownToggle>
                        Garages
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem routerLink="/garages">Voir tous les garages</button>
                        <button ngbDropdownItem routerLink="/garages/search">Rechercher un garage</button>
                    </div>
                  </div>
                </div>                
            </li>
            <li class="nav-item dropdown">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn" 
                        id="dropdownBasic1" ngbDropdownToggle>
                        Annonces
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem routerLink="/annonces">Voir tous les annonces</button>
                        <button ngbDropdownItem routerLink="/annonces/search">Rechercher une annonce</button>
                    </div>
                  </div>
                </div>                
            </li>
        </ul>        
        <button type="button" class="btn-close" aria-label="Close" (click)="onSignOut()">Déconnexion</button>
    </div>
</nav>
