<div class="container-fluid">
    <div class="row">
        <div class="col text-white">
            <h2>Liste des professionnels</h2>
        </div>
        <div class="col">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Nom</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Occupation</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Créé le</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Category</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Actions</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let user of usersArray; let i=index">
                                <tr>
                                    <td class="pl-4">{{i+1}}</td>
                                    <td>
                                        <h5 class="font-medium mb-0">{{user.firstName}}, {{user.lastName}}, </h5>
                                        <span class="text-muted">{{user.city}}, {{user.country}}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted">{{user.actualOccupation}}</span><br>
                                        <span class="text-muted">{{user.previousOccupation}}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted">{{user.email}}</span><br>
                                        <span class="text-muted">{{user.phoneNumber}}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted">{{user.creationDate}}</span><br>
                                    </td>
                                    <td>
                                        <select class="form-control category-select" id="exampleFormControlSelect1">
                                            <option>Modulator</option>
                                            <option>Admin</option>
                                            <option>User</option>
                                            <option>Subscriber</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i
                                                class="fa fa-key"></i> </button>
                                        <button type="button"
                                            class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                                class="fa fa-trash"></i> </button>
                                        <button type="button"
                                            class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                                class="fa fa-edit"></i> </button>
                                        <button type="button"
                                            class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                                class="fa fa-upload"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>