<div class="container-fluid">
    <div class="col text-white">
        <h2>Liste des professionnels</h2>
    </div>
    <!-- voir code sur https://ng-bootstrap.github.io/#/components/table/examples#complete -->
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive">
                        <form #formFilters="ngForm" (ngSubmit)="applyFilters()">
                            <table class="table no-wrap user-table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Nom</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Prénom</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Téléphone</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Siret</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Garages</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="submit" class="btn btn-success">Search</button>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="filters.lastName" name="filterLastName">
                                        </td>                                   
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="filters.firstName" name="filterFirstName">
                                        </td>                                                                           
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="filters.email" name="filterEmail">
                                        </td>  
                                        <td></td>  
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="filters.siret" name="filterSiret">
                                        </td>  
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let user of usersArray; let i=index" (click)="goToDetailUser(user.id)">
                                    <tr >
                                        <td class="pl-4">{{user.id}}</td>
                                        <td>
                                            <h5 class="font-medium mb-0">{{user.lastName}}, </h5>
                                        </td>
                                        <td>
                                            <h5 class="font-medium mb-0">{{user.firstName}} </h5>
                                        </td>
                                        <td>
                                            <span class="text-muted">{{user.email}}</span>
                                        </td>
                                        <td>
                                            <span class="text-muted">{{user.phone}}</span><br>
                                        </td>
                                        <td>
                                            <span class="text-muted">{{user.siret}}</span>
                                        </td>
                                        <td>
                                            <span class="text-muted" *ngFor="let garage of user.garages">
                                                <p>{{garage}}</p>
                                            </span>
                                        </td>
                                        <td class="text-center btn-group-vertical">
                                            <button class="btn btn-warning">Modifier</button>
                                            <button class="btn btn-danger">Supprimer</button>
                                        </td>                                  
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <nav class="d-flex justify-content-center" aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" *ngIf="prevLink !== null">
                    <a class="page-link" (click)="loadPreviousPage()">Previous</a>
                </li>
              <li *ngFor="let page of getPageNumber" class="page-item">
                <a class="page-link" (click)="loadPageByNumber(page)">{{page}}</a>
              </li>
                <li class="page-item"*ngIf="nextLink !== null">
                    <a class="page-link" (click)="loadNextPage()">Next</a>
                </li>
            </ul>
          </nav>
    </div>
</div>