<div class="container">
    <h2 class="text-center text-white font-Permanent-Marker">Dashboard</h2>
    <div class="row card-deck">
        <div class="card col-md-4">
            <div class="card-header">
                <img src="/assets/img/mecanicien.jpg" class="card-img-top" alt="mecaniciens">
            </div>
            <div class="card-body">
                <h5 class="card-title">Statistiques sur les professionnels</h5>
                <p class="card-text">Nombre total de professionnel inscrit : <span>{{totalPros}}</span></p>
                <p class="card-text">Liste des 5 derniers professionnels inscrits :</p>
                <ol>
                    <li *ngFor="let user of arrayLastFivePros" class="link"
                        [routerLink]="['/users/user/',user.id]"> 
                        {{user.lastName}} - {{user.firstName}} - {{user.phone}}
                    </li>
                </ol>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" routerLink='/users'>Voir les professionnels</a>
                </div>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-header">
                <img src="/assets/img/automobile-noire.jpg" class="card-img-top" alt="garages">
            </div>
            <div class="card-body">
                <h5 class="card-title">Statistiques sur les garages</h5>
                <p class="card-text">Nombre total de garages inscrit : <span> {{totalGarages}}</span></p>
                <p class="card-text">Liste des {{lastGaragesNumber}} derniers professionnels inscrits :</p>
                <ol>
                    <li *ngFor="let garage of arrayLastFiveGarages" class="link"
                        [routerLink]="['/garages/garage/',garage.id]"> 
                        {{ garage.name}} - {{ garage.city}}
                    </li>
                </ol>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" routerLink='/garages'>Voir les garages</a>
                </div>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-header">
                <img src="/assets/img/petite-annonce.jpg" class="card-img-top" alt="annonces">
            </div>
            <div class="card-body">
                <h5 class="card-title">Statistiques sur les annonces</h5>
                <p class="card-text">Nombre total d'annonces en ligne : <span> {{totalAnnonces}}</span></p>
                <p class="card-text">Liste des {{lastAnnoncesNumber}} dernières annonces mise en ligne :</p>
                <ol>
                    <li *ngFor="let annonce of arrayLastFiveAnnonces" class="link"
                        [routerLink]="['/annonces/annonce/',annonce.id]"> 
                        {{ annonce.brand}} - {{ annonce.model}} - ref: {{ annonce.id }} - {{ annonce.km }}km
                    </li>
                </ol>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" routerLink='/annonces'>Voir les annonces</a>
                </div>
            </div>
        </div>
    </div>
</div>